/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.idea
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
google-services.json
auto-stop-8c24a-9c7a4a38e09e.json